/* Reset some default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  margin-bottom: 60px;
}

/* Fixed Header */
header {
background-color: #333;
color: #fff;
width: 100%;
padding: 1rem;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Navigation styling */
header nav {
display: flex;
gap: 20px;
}

header nav a {
color: #fff;
text-decoration: none;
font-size: 16px;
padding: 0.5rem 1rem;
transition: color 0.3s ease-in-out;
}

/* Container styling for both login and register forms */
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 10px;
  margin-bottom: 20px;
}

/* Heading styling for login/register */
h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Form input fields */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
}

/* Input focus styles */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
  border-color: #f4f6f8;
  background-color: #f1faff;
  outline: none;
}

/* Submit button styling */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #e6b800;
  color: white;
  border: none;
  border-radius: 5px