/* rooms.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}
header {
  background-color: #333;
  color: #fff; 
  padding: 1rem 2rem; /* More padding for better spacing */
 
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}
header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}


main {
  padding: 2rem;
  text-align: center;
}

.rooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.room-card {
  background-color: #fff;
  width: 320px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  overflow: hidden;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.room-card .room-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.room-card h2 {
  margin: 1rem;
}

.room-card p {
  margin: 0 1rem 1rem;
  color: #555;
}

.amenities-list {
  margin: 0 1rem 1rem;
  padding-left: 1.5rem;
  list-style: none;
}
.amenities-list li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.amenities-list li .amenity-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  color: #444;
}

/* Room Booking Button */
.room-card button {
  margin-top: auto;
  margin:  1rem ;
  padding: 0.7rem 1.2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(135deg, #e6b800, #c89f00);
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.room-card button:hover {
  background: linear-gradient(135deg, #c89f00, #a57e00);
  transform: scale(1.05);
}

/* Footer styling */
footer {
  background-color: #111213;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 14px;
  margin-top: auto;
  position: relative;
}
/* rooms.css */

/* Carousel styles */
.carousel {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.carousel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: none; /* Hide all images by default */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fix purple links */
a{
  color: white; /* Sets the default color */
  text-decoration: none;
  font-size: 18px;
}

/* Prevents links from turning purple */
a:visited {
  color: white;
}

/* Hover effect */
a:hover {
  color: #e6b800;
}